h2 {
    color: #404040;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0px;
    flex-direction: row;
}

.comic {
    list-style: none;
    align-items: flex-start;
    flex: 0 0 14%;
    margin: 0 0 3rem;
}

.comic img {
    background-size: cover;
}

.comic-text {
    width: 50%;
    color: #404040;
    font-weight: 700;
}

@media (max-width: 1050px) {
    .container {
        justify-content: center;
    }

    .comic {
        margin: 0 1rem;
    }
}