.App {
  text-align: center;
}

.App-header {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.horoes-found {
  color: #8c8c8c;
  font-weight: 400;
}

.options-bar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.App-logo {
  margin: 2rem 0 1rem;
}