.details-page {
    background-color: #f2f2f2;
}

.details-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 6rem;
}

.details-header img {
    margin-right: 4rem;
}

.footer-bar {
    margin-top: 6rem;
}

.container-details {
    margin: 0 6rem;
}

.additionalInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #414141;
    font-weight: 700;
    margin: 3rem;
    font-size: larger;
}

.fav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fav-text {
    margin: 0 1rem;
}

.comic-hero-details {
    padding: 0 1rem .5rem;
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

@media (max-width: 885px) {
    .details-header {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 0;
    }
}